* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

:root {
  --color-primary: #4d2c57;
}

nav .nav-content {
  max-width: 1200px;
  margin: auto;
  padding: 1.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .nav-content .menu {
  display: none;
}
nav .nav-content .brand {
  text-transform: uppercase;
}
nav .nav-content .brand a {
  color: #000;
}
nav .nav-content .links {
  display: flex;
}
nav .nav-content .links .link {
  margin-right: 1.5rem;
  font-weight: 600;
  cursor: pointer;
  padding: 1rem 0;
  border-bottom: 2px solid transparent;
}
nav .nav-content .links .link a {
  color: #000;
}
nav .nav-content .links .link a:hover {
  border-bottom: 2px solid var(--color-primary);
}
nav .nav-content .links .cart {
  display: flex;
  align-items: center;
}
nav .nav-content .links .cart svg {
  margin-right: 0.4rem;
}

.hero {
  background-image: url("../img/hero.webp");
  background-position: center;
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero .hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}
.hero .hero-content .heading {
  font-weight: 600;
  font-size: 4rem;
  margin-bottom: 1.5rem;
  text-align: center;
}
.hero .hero-content .subheading {
  font-size: 2rem;
  margin-bottom: 1.75rem;
  text-align: center;
}
.hero .hero-content button {
  padding: 1rem 1.5rem;
  color: var(--color-primary);
  background-color: #fff;
  font-size: 1.05rem;
  border: none;
  cursor: pointer;
}

.bestseller .bestseller-content {
  max-width: 1200px;
  margin: auto;
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bestseller .bestseller-content > .heading {
  font-size: 3rem;
  margin-bottom: 4rem;
  color: var(--color-primary);
}
.bestseller .bestseller-content .box1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.25rem;
  margin-bottom: 5rem;
}
.bestseller .bestseller-content .box1 .el {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-primary);
}
.bestseller .bestseller-content .box1 .el .img-wrap {
  width: 100%;
  margin-bottom: 1rem;
}
.bestseller .bestseller-content .box1 .el .img-wrap img {
  width: 100%;
}
.bestseller .bestseller-content .box1 .el .heading {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}
.bestseller .bestseller-content .box1 .el .subheading {
  font-size: 1.25rem;
}
.bestseller .bestseller-content .button-wrap button {
  padding: 1rem 1.5rem;
  color: var(--color-primary);
  background-color: #fff;
  font-size: 1.05rem;
  border: none;
  cursor: pointer;
  border: 2px solid black;
}

.fdecor {
  background-image: url("../img/fdecor-1.webp");
  background-position: center;
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fdecor .fdecor-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}
.fdecor .fdecor-content .heading {
  font-size: 5rem;
  margin-bottom: 2rem;
  text-align: center;
}
.fdecor .fdecor-content .subheading {
  margin-bottom: 2rem;
  font-size: 2rem;
  text-align: center;
}
.fdecor .fdecor-content button {
  padding: 1rem 1.5rem;
  color: var(--color-primary);
  background-color: #fff;
  font-size: 1.05rem;
  border: none;
  cursor: pointer;
  padding: 1rem 2rem;
}

.decor .decor-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 5rem 0;
}
.decor .decor-content .box1 {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 2rem;
}
.decor .decor-content .box1 .el {
  color: var(--color-primary);
}
.decor .decor-content .box1 .el .img-wrap {
  width: 100%;
}
.decor .decor-content .box1 .el .img-wrap img {
  width: 100%;
}
.decor .decor-content .box1 .el .heading {
  text-align: center;
  margin-bottom: 1.5rem;
}
.decor .decor-content .box1 .el .subheading {
  text-align: center;
  margin-bottom: 1.5rem;
}
.decor .decor-content .box1 .el button {
  color: var(--color-primary);
  padding: 1.25rem 2.5rem;
  border: 2px solid var(--color-primary);
  color: var(--color-primary);
}
.decor .decor-content .box1 .el button:hover {
  background-color: var(--color-primary);
  color: #fff;
}

.newsletter {
  background-image: url("../img/newsletter.png");
  background-position: center;
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.newsletter .newsletter-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.newsletter .newsletter-content .heading {
  font-size: 4rem;
  color: #fff;
  margin-bottom: 2rem;
  text-align: center;
}
.newsletter .newsletter-content .box1 {
  display: flex;
  flex-direction: column;
}
.newsletter .newsletter-content .box1 input {
  background: none;
  padding: 1rem 1.25rem;
  border: 1px solid rgba(255, 255, 255, 0.534);
  outline: none;
  font-size: 1.25rem;
  margin-bottom: 2rem;
}
.newsletter .newsletter-content .box1 button {
  padding: 1rem 1.5rem;
  color: var(--color-primary);
  background-color: #fff;
  font-size: 1.05rem;
  border: none;
  cursor: pointer;
}

.follow .follow-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.follow .follow-content .heading {
  font-size: 3rem;
  color: var(--color-primary);
  margin-bottom: 5rem;
}
.follow .follow-content .box1 {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 3rem;
}
.follow .follow-content .box1 .el img {
  width: 100%;
}
.follow .follow-content .owner a {
  font-size: 2rem;
}

footer {
  background-color: #f6f7f6;
}
footer .footer-content {
  max-width: 1200px;
  margin: auto;
  padding: 3rem;
}
footer .footer-content .box1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}
footer .footer-content .box1 .brand .heading {
  font-size: 1.5rem;
}
footer .footer-content .box1 .links a {
  font-size: 1.25rem;
  margin-right: 1rem;
  color: #000;
}
footer .footer-content .box2 a {
  color: #000;
  margin-right: 1rem;
}

@media screen and (max-width: 768px) {
  nav .nav-content {
    padding: 0 1rem;
  }
  nav .nav-content .menu {
    display: block;
  }
  nav .nav-content .links {
    display: none;
  }
  .bestseller .bestseller-content .box1 {
    display: flex;
    flex-direction: column;
  }
  .decor .decor-content .box1 {
    padding: 1rem;
    grid-template-columns: 100%;
  }
  .follow .follow-content .heading {
    text-align: center;
  }
  .follow .follow-content .box1 {
    align-items: center;
    flex-direction: column;
  }
  footer .footer-content {
    padding: 0;
  }
  footer .footer-content .box1 {
    flex-direction: column;
  }
  footer .footer-content .box1 .brand {
    margin-bottom: 1.5rem;
  }
  footer .footer-content .box1 .links {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
  }
  footer .footer-content .box1 .links a {
    text-decoration: underline;
    margin-bottom: 2rem;
  }
}
.shop {
  background-image: url("../img/shop-cover.avif");
  min-height: 600px;
  background-position: center center;
  background-size: cover;
}
.shop .shop-content {
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.shop .shop-content .heading {
  font-size: 4rem;
  color: #fff;
}

.filter .filter-content {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.5rem 0 0 0;
}
.filter .filter-content .box1 {
  display: flex;
}
.filter .filter-content .box1 .el {
  margin-right: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #757575;
}
.filter .filter-content .box1 .el p {
  font-size: 1.1rem;
}
.filter .filter-content .box1 .el:hover {
  cursor: pointer;
  color: #115080;
}
.filter .filter-content .box2 {
  align-self: flex-end;
  display: flex;
  padding: 1rem 0;
}
.filter .filter-content .box2 .el {
  margin-left: 1rem;
}

.product .product-content {
  max-width: 1200px;
  margin: auto;
}
.product .product-content .box1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5rem;
  margin-bottom: 15rem;
}
.product .product-content .box1 .el {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product .product-content .box1 .el .img-wrap {
  width: 100%;
  margin-bottom: 0.4rem;
  overflow: hidden;
}
.product .product-content .box1 .el .img-wrap img {
  width: 100%;
}
.product .product-content .box1 .el .img-wrap img:hover {
  transform: scale(1.2);
  transition: 0.4s all;
}
.product .product-content .box1 .el .title {
  font-size: 1.25rem;
  margin-bottom: 0.2rem;
  text-align: center;
}
.product .product-content .box1 .el .price {
  font-size: 2rem;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .filter .filter-content .box1 .box2 {
    margin: 0 1.5rem;
  }
  .product .product-content .box1 {
    grid-template-columns: 100%;
    padding: 0 1.5rem;
  }
}
.about-hero {
  background-image: url("../img/about-cover.avif");
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-hero .about-hero-content .heading {
  color: #fff;
  font-size: 5rem;
  font-weight: 600;
  letter-spacing: 1.25px;
}

.about-quote .about-quote-content {
  padding: 5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-quote .about-quote-content .heading {
  max-width: 450px;
  color: #4d2c57;
  font-size: 1.5rem;
  letter-spacing: 1px;
  font-weight: bold;
  text-align: center;
}

.about-alex {
  background-color: #f6f7f6;
}
.about-alex .about-alex-content {
  max-width: 1200px;
  margin: auto;
}
.about-alex .about-alex-content .box1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  align-items: center;
  color: var(--color-primary);
}
.about-alex .about-alex-content .box1 .img-wrap img {
  width: 100%;
}
.about-alex .about-alex-content .box1 .info {
  padding: 0 1.5rem;
}
.about-alex .about-alex-content .box1 .info .heading {
  font-size: 3rem;
  margin-bottom: 2.5rem;
}
.about-alex .about-alex-content .box1 .info .subheading {
  font-size: 1.25rem;
  line-height: 2rem;
}

.about-sustain {
  background-color: #fd925c;
}
.about-sustain .about-sustain-content {
  max-width: 1200px;
  margin: auto;
}
.about-sustain .about-sustain-content .box1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  grid-gap: 6rem;
}
.about-sustain .about-sustain-content .box1 .img-wrap img {
  width: 100%;
}
.about-sustain .about-sustain-content .box1 .info {
  color: #fff;
}
.about-sustain .about-sustain-content .box1 .info .heading {
  font-size: 3rem;
  margin-bottom: 1.5rem;
}
.about-sustain .about-sustain-content .box1 .info .subheading {
  font-size: 1.2rem;
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
}
.about-sustain .about-sustain-content .box1 .info button {
  color: var(--color-primary);
  border: none;
  background-color: #fff;
  padding: 1rem 3rem;
  font-size: 1.1rem;
  cursor: pointer;
}

.contact-hero {
  background-image: url(../img/contact-hero.avif);
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-hero .contact-hero-content .heading {
  font-size: 4rem;
  letter-spacing: 1px;
  color: #fff;
}

.contact-form .contact-form-content {
  padding: 5rem 0;
  max-width: 1200px;
  margin: auto;
}
.contact-form .contact-form-content .box1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.contact-form .contact-form-content .box1 .info {
  color: var(--color-primary);
}
.contact-form .contact-form-content .box1 .info .heading {
  font-size: 2rem;
  line-height: 2.5rem;
  margin-bottom: 1.25rem;
}
.contact-form .contact-form-content .box1 .info .subheading {
  font-size: 1.4rem;
  line-height: 1.7rem;
  margin-bottom: 5rem;
}
.contact-form .contact-form-content .box1 .info .subheading:nth-child(1) {
  margin-bottom: 5rem !important;
}
.contact-form .contact-form-content .box1 .info .heading-2 {
  margin-top: 1.5rem;
}
.contact-form .contact-form-content .box1 .form .heading {
  color: var(--color-primary);
  font-size: 2rem;
  line-height: 2.5rem;
  margin-bottom: 1.25rem;
}
.contact-form .contact-form-content .box1 .form form .form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.contact-form .contact-form-content .box1 .form form .form-group p {
  margin-bottom: 0.5rem;
}
.contact-form .contact-form-content .box1 .form form .form-group input {
  padding: 1rem 1.5rem;
  background-color: #f1f1f1;
  border: none;
  outline: none;
  font-size: 1.05rem;
}
.contact-form .contact-form-content .box1 .form form .form-group textarea {
  padding: 1rem 1.5rem;
  background-color: #f1f1f1;
  border: none;
  font-size: 1.05rem;
  outline: none;
}
.contact-form .contact-form-content .box1 .form form .btn-wrap button {
  color: var(--color-primary);
  padding: 1rem 2rem;
  border: 2px solid var(--color-primary);
  background-color: #fff;
  cursor: pointer;
}
.contact-form .contact-form-content .box1 .form form .btn-wrap button:hover {
  background: var(--color-primary);
  color: #fff;
}

@media screen and (max-width: 768px) {
  .contact-hero .heading {
    max-width: 200px;
    text-align: center;
  }
  .contact-form .contact-form-content .box1 {
    grid-template-columns: 100%;
    padding: 0 1rem;
  }
}/*# sourceMappingURL=style.css.map */